<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 1</title>
</head>
<body>
    
    <!--Nombre de el espacio de trabajo para Vue es identificado con el ID-->
    <div id="app">

        <!--Forma simple de llamar una variable desde Data de Vue-->
        <h1>{{titulo}}</h1>
        <p>{{parrafo}}</p>

        <ul>
            <!--Crear un elemento en bucle a partir de Elemento de Vue-->
            <li v-for="fruta of frutas">{{fruta}}</li>
        </ul>

        <ul>
            <!--Crear un elemento en bucle a partir de objeto de Vue-->
            <li v-for="objeto of Objetos">
                {{objeto.nombre}}&nbsp;{{objeto.Apellido}}
                <!--Condicional a partir de Objeto Vue-->
                <span v-if="objeto.Edad < 18">- Menor de Edad</span>
            </li>
        </ul>
        <ul>
            <!--Bucle a partir de objeto vacio en Vue-->
            <li v-for="opcion of Opciones">
                {{opcion}}
            </li>
        </ul>

        <!--Input conectado a una variable de Vue por medio de v-model-->
        <input type="text" v-model="nuevaFruta">
        <!--Evento click a partir de un metodo Vue-->
        <button v-on:click="agregarFruta">Agregar</button>
        <!-- Forma abreviada de declarar evento a partir de metodo Vue
        <button @click="agregarFruta">Agregar</button> -->
    </div>

    <script src="../vue.js"></script>
    <script src="main.js"></script>
</body>
</html>